<% if @todolists.errors.present? %>
  <ul>
    <% @todolists.errors.each do |error, message| %>
      <h3><ol class="alert alert-danger"> <%= "#{error.capitalize} #{message}" %></ol><h3>
    <% end %>
  </ul>
<% end %>
<div class = "container2">
  <%= form_for @todolists do |f| %>
<h4><div class="label label-primary">
    <%= f.label :標题 %>
</div></h4>
 <div class="form-group">
    <%= f.text_field :name %>
  </div>
<h4><ul class="label label-primary">
    <%= f.label :截止日期 %>
</ul></h4>
  <div class="form-group">
    <%= f.text_field :due_date %>
  </div>
<h4><div class="label label-primary">
    <%= f.label :描述 %>
</div></h4>
  <div class="form-group">
    <%= f.text_field :description %>
  </div>
  <div>
  <%= f.submit %>
</div>
<% end %>
</div>
